/* MAIN */
/* ------ GRID ------ */




.main-grid img{
    position: relative;
}

.main-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 597px 597px;
    grid-gap: 8px;
    grid-auto-rows: minmax(100px, auto);
}

.region h3{
    color: var(--color-white);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(24px,3vw,45px);
    /* transform: translatey(-200px); */
}

.region a{
    background-color: var(--color-white);
    padding: 10px 20px;
    font-size: clamp(5px,3vw,15px);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    /* transform: translateY(200%); */
}


.main-grid a:hover{
    background-color: var(--color-red);
    color: var(--color-white);
}
/* .region-text{
    position: absolute;
    top: 50%;
    /* left: 50%; 
} */


.region img{
    width: 100%;
    height: 100%;
}


/* ------------ BANNER ---------- */

.banner {
    grid-column: 1/3;
    grid-row: 1;
    background: var(--color-red);
    gap: 30px;
    padding: 35px 50px;
    color: var(--color-white);
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.banner-carousel{
    width: min(400px, 100%);
    justify-content: center;
}

.left-arrow{
    transform: translateX(35px);
}
.right-arrow{
    transform: translateX(-35px);
}

.banner-text{
    width: min(400px, 100%);
    align-items: flex-start;
    gap: 40px;
}
h1{
    font-weight: 600;
}
.banner h2{
    font-size: clamp(18px,3vw,22px);
    font-weight: 400;
    line-height: 40px;
}




.region-text{
    align-items: center;
    gap: 25px;
}
/* ------- AFRICA SECTION -------- */

.africa {
    grid-column: 1;
    grid-row: 2;
    /* justify-content: center; */
}

.africa h3{
    /* transform: translate(50%, -500%); */
}
.africa a{
    /* transform: translate(50%, -400%); */
}

.america {
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: flex-start;
}

.asia {
    grid-column: 2;
    grid-row: 3/6;
    justify-content: center;
}

/* .asia h3{
    color: black;
}

.asia a{
    background: var(--color-red);
    color: white;
}
.asia a:hover{
    background: var(--color-white);
    color: black;
} */


.europe {

    grid-column: 1;
    grid-row: 4/7;
    align-items: flex-end;
    justify-content: center;
}

.value{
    background: var(--color-beige);
    color: var(--dark_grey);
    padding: 50px;
    gap: 30px;
    text-align: center;
}

.value h3{
    font-size: clamp(16px,3vw,25px);
    color: var(--dark_grey);
}

.value i{
    font-size: 35px;
    color: var(--color-red);
}

.value p{
    font-size: clamp(14px,3vw,18px);
}



/* --------- AVIS CLIENTS ----------- */
#testimonies{
    padding: 20px;
    margin-top: 100px;
    gap: 50px;
    align-items: center;
}

#testimonies h3{
    font-size: clamp(20px,3vw,30px);
    text-transform: uppercase;
    font-weight: 500;
    align-self: flex-start;
}

.testimonies-main{
    flex-wrap: wrap;
}

.testimony-box{
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
    width: min(250px,100%);
    align-items: flex-start;
}

.testimoner img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.testimony-box hr{
    border: 4px solid var(--dark_grey);
}

.testimoner{
    font-weight:600;
    gap: 5px;
}

.main-testimony{
    background: var(--color-red);
    color: var(--color-white);
}



