/* MAIN */
/* ------ GRID ------ */


.main-grid div {
    border: 1px solid black;
}


.main-grid {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
}

.main-grid h3{
    color: var(--color-white);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(24px,3vw,45px);
}

.main-grid a{
    background-color: var(--color-white);
    padding: 10px 20px;
    font-size: clamp(5px,3vw,15px);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-grid a:hover{
    background-color: var(--color-red);
    color: var(--color-white);
}

.column


/* ------------ BANNER ---------- */

.banner {
    background: var(--color-red);
    gap: 30px;
    padding: 35px 50px;
    color: var(--color-white);
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.banner-carousel{
    width: min(400px, 100%);
    justify-content: center;
}

.left-arrow{
    transform: translateX(35px);
}
.right-arrow{
    transform: translateX(-35px);
}

.banner-text{
    width: min(400px, 100%);
    align-items: flex-start;
    gap: 40px;
}
h1{
    font-weight: 600;
}
.banner h2{
    font-size: clamp(18px,3vw,22px);
    font-weight: 400;
    line-height: 40px;
}


.region{
    gap: 25px;
}
/* ------- AFRICA SECTION -------- */

.africa {
    min-height: 524px;
    background: url(../Images/african\ ethnic_women.png) 100% 100% no-repeat;
    justify-content: center;
}

.america {

    min-height: 524px;
    padding: 10px;
    background: url(../Images/pollera_panama_girl.png) rgba(65, 60, 63, 0.3) 100% 100% no-repeat;
    background-blend-mode: multiply;
    justify-content: center;
    align-items: flex-start;
}

.four {

}

.asia {

    min-height: 791px;
    background: url(../Images/red\ kimono_woman.png) 100% 100% no-repeat;
    justify-content: center;
}

.asia h3{
    color: black;
}

.asia a{
    background: var(--color-red);
    color: white;
}
.asia a:hover{
    background: var(--color-white);
    color: black;
}

.six {

}
.europe {

    min-height: 800px;
    padding: 15px;
    background: url(../Images/kilt_man.png) 100% 100% no-repeat;
    align-items: flex-end;
    justify-content: center;
}

