/* MAIN */
/* ------ GRID ------ */





.main-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 625px 520px;
    /* grid-gap: 10px; */
    grid-auto-rows: minmax(100px, auto);
}

.main-grid h3{
    color: var(--color-white);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(24px,3vw,45px);
}

.main-grid a{
    background-color: var(--color-white);
    padding: 10px 20px;
    font-size: clamp(5px,3vw,15px);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-grid a:hover{
    background-color: var(--color-red);
    color: var(--color-white);
}



/* ------------ BANNER ---------- */

.banner {
    grid-column: 1/3;
    grid-row: 1;
    background: var(--color-red);
    gap: 30px;
    padding: 35px 50px;
    color: var(--color-white);
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.banner-carousel{
    width: min(400px, 100%);
    justify-content: center;
}

.left-arrow{
    transform: translateX(35px);
}
.right-arrow{
    transform: translateX(-35px);
}

.banner-text{
    width: min(400px, 100%);
    align-items: flex-start;
    gap: 40px;
}
h1{
    font-weight: 600;
}
.banner h2{
    font-size: clamp(18px,3vw,22px);
    font-weight: 400;
    line-height: 40px;
}


.region{
    gap: 25px;
}
/* ------- AFRICA SECTION -------- */

.africa {
    min-height: 524px;
    grid-column: 1;
    grid-row: 2;
    background: url(../Images/african\ ethnic_women.png) 100% 100% no-repeat;
    justify-content: center;
}

.america {
    grid-column: 2;
    grid-row: 2;
    min-height: 524px;
    padding: 10px;
    background: url(../Images/pollera_panama_girl.png) rgba(65, 60, 63, 0.3) 100% 100% no-repeat;
    background-blend-mode: multiply;
    justify-content: center;
    align-items: flex-start;
}

.four {
    grid-column: 1;
    grid-row: 3;
}

.asia {
    grid-column: 2;
    grid-row: 3/6;
    min-height: 791px;
    background: url(../Images/red\ kimono_woman.png) 100% 100% no-repeat;
    justify-content: center;
}

.asia h3{
    color: black;
}

.asia a{
    background: var(--color-red);
    color: white;
}
.asia a:hover{
    background: var(--color-white);
    color: black;
}

.six {
    grid-column: 2;
    grid-row: 6/7;
}
.europe {

    grid-column: 1;
    grid-row: 4/7;
    min-height: 800px;
    padding: 15px;
    background: url(../Images/kilt_man.png) 100% 100% no-repeat;
    align-items: flex-end;
    justify-content: center;
}

.value{
    background: var(--color-beige);
    color: var(--dark_grey);
    padding: 50px;
    gap: 30px;
    text-align: center;
}

.value h3{
    font-size: clamp(16px,3vw,25px);
    color: var(--dark_grey);
}

.value i{
    font-size: 35px;
    color: var(--color-red);
}

.value p{
    font-size: clamp(14px,3vw,18px);
}



/* --------- AVIS CLIENTS ----------- */
#testimonies{
    padding: 20px;
    margin-top: 100px;
    gap: 50px;
}

#testimonies h3{
    font-size: clamp(20px,3vw,30px);
    text-transform: uppercase;
    font-weight: 500;
    align-self: flex-start;
}

.testimonies-main{
    flex-wrap: wrap;
}

.testimony-box{
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
    width: min(250px,100%);
    align-items: flex-start;
}

.testimoner img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.testimony-box hr{
    border: 4px solid var(--dark_grey);
}

.testimoner{
    font-weight:600;
    gap: 5px;
}

.main-testimony{
    background: var(--color-red);
    color: var(--color-white);
}



